@using GarageVersion3.Web.Models
@model IEnumerable<MemberIndexViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Index - Medlemmar</h1>

<form asp-action="Filter" asp-controller="Members" method="get"> @*Filter är namnet på funktionen i controlern.Members är namnet på controllern där funktionen finns och get är metoden som anväds då vi ska få data.*@
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="MemberId" placeholder="Sök en medlem med personnumret..."/> @*Det här är en input fält där det viktiga är name som binder datan som ska skickas till funktionen filte*@

        <div class="input-group-append">
            <button type="submit"class="btn btn-primary"><i class="fa fa-search">Sök</i></button> @*sökknappen*@
        </div>
    </div>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersNrId) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfVehicles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersNrId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrOfVehicles)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersNrId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersNrId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersNrId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
